

font:hover
{   margin-bottom:0px;
	text-shadow:3px 5px 20px ;
   font-family: 'Mirza', cursive;
	color:ff76ff;
	font-size=60px;
}
img
{    position:relative;
	 padding-left:00px;
}
a
{    margin-top:10px;
	padding-left:1000px;
}
li a:hover
{

color:cyan;
font-size:30px;
text-decoration:none;
text-shadow:5px 6px 5px blue;
font-family: 'Marck Script', cursive;
}